VITE_SUPABASE_URL=https://hesflcaaupmphtorfqij.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhlc2ZsY2FhdXBtcGh0b3JmcWlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NTY2MDksImV4cCI6MjEwNTIzMjYwOX0.VOVHsvH5GuU7W63e7aiu_eXUizaSj3iM0qimHuYzqSM
